<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992287119524-788736caa5f04rhp368cpn1eq9luo71o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992287119524-788736caa5f04rhp368cpn1eq9luo71o</string>
	<key>API_KEY</key>
	<string>AIzaSyCIpg0Ld51ID63HvENigZ6qKN4PMAHuwW0</string>
	<key>GCM_SENDER_ID</key>
	<string>992287119524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fstcklocal.rapidroyal</string>
	<key>PROJECT_ID</key>
	<string>rapid-royal</string>
	<key>STORAGE_BUCKET</key>
	<string>rapid-royal.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992287119524:ios:d547cf82ac9151df462e31</string>
</dict>
</plist>